{% extends "_shared/templates/zero-template.njk" %}

{% block content %}
  <h1>🌋</h1>
  <h1>Welcome to Vulkano Zero!</h1>
  <p>Find this file in /app/views/website/dashboard.njk</p>
  <p>This version of Vulkano Zero runs on Node 20.</p>
  <p>Docker templates that run out of the box are available for development and production.</p>
{% endblock %}
